
        h1{
           color: tomato;
        } 
        h2{
            font-style: italic;
            color: tomato;
            
        }
        div{
            line-height: 40px;
            color: purple;
            font-size: larger;
        }
        #th{
            text-decoration: line-through;
        }
        #bg{
            background-color: yellow;
        }
        #u{
            text-decoration: underline;
            font-style: italic;
        }
        ul{
            letter-spacing: 7.2px;
            color: purple;
            font-size: large;
        }
        a{
             background-color: yellow;
            font-style: italic;
            }
     p{
                color: purple;
            }
        
